<div class="tableParams">
    <h2>Time Table</h2>
    <h4>Create/Delete Tables</h4>
    <!--new table-->
    <input type="text" [(ngModel)]="Nname" id="tableName" placeholder= "Enter name here"  > 
    <button id="newTable" (click)="newTable(Nname)">Create new TimeTable</button><br/>
    
    <!--delete table(s)-->
    <input type="text" id="tablekiller" [(ngModel)]="Dname" placeholder= "Enter table here"  > 
    <button id="killTable" (click)="deleteTable(Dname)">Delete TimeTable</button><br/>
    <button id="killAllTables" (click)="deleteAllTables()">Delete all TimeTables</button><br/>

    <!--show name of all tables-->
    <ul class="timetableList"> 
        <li *ngFor = "let table of tables$">
            {{table.name}}
        </li>
    </ul>
</div>

<div class = "tableResult">
    <div class = "tableAdding">
        <h4>Display/Add to Tables</h4>

        <!--show specific table-->
        <input type="text" [(ngModel)]="Sname" id="displayTable" placeholder= "Time Table"  > 
        <button id="showTable" (click)="showTable(Sname)">Display Time Table</button><br/>

        <!--add course to specific table-->
        <input type="text" [(ngModel)]="Cname" id="searchByCode" placeholder= "Course name"  > 
        <input type="text" [(ngModel)]="Tname" id="searchByCodeTable" placeholder= "Time Table"  >    
        <button id="addCourse" (click)="addCourse(Tname, Cname)">Add course</button><br/>
    </div>

    <!--have to only show one timetable but go through its courses-->
    <div class="timetableHolder">
        <div class="timetable" *ngFor="let c of schedCourses(scheds$)">
            {{c[0].className}}<br/>
            {{c[0].course_info[0].start_time}}-{{c[0].course_info[0].end_time}}
        </div>
    </div>
</div>
